# Logs
*.log
**/*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.pnpm-debug.log*

# Dependencies
web/node_modules
web/.pnp
web/.pnp.*
web/.yarn/*
!web/.yarn/patches
!web/.yarn/plugins
!web/.yarn/releases
!web/.yarn/versions

# Testing
web/coverage

# Next.js
web/.next/
web/out/

# Production
web/build

# Misc
.DS_Store
*.pem

# Env files
.env*

# Vercel
web/.vercel

# TypeScript
web/*.tsbuildinfo
web/next-env.d.ts

# Go / Server
server/canvastream-server
server/bin/
